h1 {
    text-align: center;
    color: whitesmoke;
    font-size: 14vw;   
    font-variant: small-caps;
    margin-top: 120px;
    margin-bottom: 5px;
    text-decoration: underline;
}

h2, h3 {
    text-align: center;
    color: whitesmoke;
    font-size: 7vw;
    margin: 2px;
}

body {
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-color: black;
  }

button {
    margin: 0 auto;
    display: block;
}